<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <header>
            <h1>Welcome!</h1>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            &copy;@DateTime.Today.Year
        </footer>
    </body>
</html>